.toolbarButton#secondaryToolbarClose::before {
  content: url(../js/vendor/pdfjs/web/images/toolbarButton-zoomIn.png);
  transform: rotate(45deg) scale(1.5);
}

@media screen and (-webkit-min-device-pixel-ratio: 1.1), screen and (min-resolution: 1.1dppx) {
  .toolbarButton#secondaryToolbarClose::before {
    content: url(../js/vendor/pdfjs/web/images/toolbarButton-zoomIn@2x.png);
    transform: rotate(45deg) scale(0.8);
  }
}

html .doorHangerRight:after {
  right: 53px!important;
}
html .doorHangerRight:before {
  right: 53px!important;
}

