.toolbarButton#secondaryToolbarClose::before {
  content: url(../js/vendor/pdfjs/web/images/toolbarButton-zoomIn.png);
  transform: rotate(45deg) scale(1.5);
}

@media screen and (min-resolution: 2dppx) {
  #secondaryToolbarClose::before {
    background-size: 32px 32px !important;
    height: 32px !important;
    width: 32px !important;
  }
}

html .doorHangerRight:after {
  right: 53px!important;
}
html .doorHangerRight:before {
  right: 53px!important;
}

